html,body{
	margin: 0;
}
ul{
	list-style: none;
}
ul,li{
	margin: 0;
	padding: 0;
}
#bg img{
	display: block;
	width: 100%;
}
#content{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}
.chances{
	font-size: 0.28rem;
	position: absolute;
    text-align: center;
    width: 100%;
    top: 15.65%;
    color: #fff;
}
#chances-num{
	color: #fee330;
}
.prize{
	font-size: 0.28rem;
	position: absolute;
	top: 12.9rem;
	width: 100%;
	text-align: center;
}
#turntable{
	width: 7.01rem;
	height: 6.36rem;
	background: url('./turntable.png') center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
}
#outer-prize{
	width: 5.57rem;
	height: 0.89rem;
	position: absolute;
	top: 10.2rem;
	left: 50%;
	transform: translateX(-50%);
	background: url('./other.png') center no-repeat;
	background-size: 100% 100%;
}
.list{
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.9rem;
	overflow: hidden;
	height: 100%;
}
.turn-item{
	width: 1.9rem;
	height: 1.7rem;
	display: block;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.7rem;
	position: absolute;
	box-sizing: border-box;
	transform: scale(1.1,1.1);
	border-radius: 0.2rem;
}
.turn-item.act{
	color: #ff6c00;
	border: 5px solid #ff6c00;
}
.turn-item-1{
	top: 0.52rem;
    left: 0.44rem;
}
.turn-item-2{
	top: 0.52rem;
    left: 2.57rem;
}
.turn-item-2 img{
	display: block;
	width: 50%;
	margin: 0.17rem auto 0;
}
.turn-item-3{
	top: 0.52rem;
    left: 4.69rem;
}
.turn-item-4{
	top: 2.4rem;
    left: 4.69rem;
}
.turn-item-5{
	top: 4.28rem;
    left: 4.69rem;
}
.turn-item-6{
	top: 4.28rem;
    left: 2.57rem;
}
.turn-item-7{
	top: 4.28rem;
    left: 0.44rem;
}
.turn-item-8{
	top: 2.4rem;
    left: 0.44rem;
}
#turn-btn{
	width: 2.02rem;
	height: 1.78rem;
	display: block;
	background: url('./btn.png') center no-repeat;
	background-size: 100% 100%;
	margin: 2.37rem auto 0;
	position: relative;
	left: 0.02rem;
	transition: all 0.2s;
}
.touched{
	transform: scale(0.9,0.9);
}

.will-alert,.share{
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	cursor: pointer;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-select: none;
}
.share{
	background: rgba(0, 0, 0, 0.7);
	background-image: url('./share-tips.png');
	background-position: right top;
	background-size: 80% auto;
	background-repeat: no-repeat;
}
.will-alert-content{
	width: 80%;
	min-height: 3rem;
	background: #fff;
	border-radius: 0.1rem;
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 0.36rem;
	box-sizing: border-box;
	padding: 0.3rem 0.6rem 0.4rem;
	text-align: center;
	transform: translate(-50%, -50%);
	line-height: 1.6em;
}
.will-alert-content:before{
	content: "";
	width: 2.62rem;
	height: 1.76rem;
	display: block;
	background: url('./per.png') center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 11;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.will-alert-title{
	margin-bottom: 0.2rem;
}
.share-btn{
	width: 2.03rem;
	height: 0.65rem;
	display: block;
	margin: 0.3rem auto 0;
	background: url('./share-btn.png') center no-repeat;
	background-size: 100% 100%;
}
.get-prize{
	color: #ff6c00;
}