/*   reset   */
html,body{
	margin:0;
	padding:0;
	font-family: "Microsoft YaHei",Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,li,dl,ol,p,input,form,table{
	margin:0;
	padding:0;
}
a,a:active,a:visited{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration: underline;
}
*{	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}
@media screen and (max-width:640px){
	html,body{
		width:100%;
	}
}


/*  common  */

.header{
	height: 50px;
	border-bottom: 1px solid #eee;
}
.header .logo{
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
	float: left;
}
.header .logo:hover a{
	text-decoration: none;
}
.header .tips{
	float: right;
	line-height: 50px;
	font-size: 14px;
	color: #666;
}
.abox{
	width: 960px;
	margin:0 auto;
}