html,body{
  margin: 0;
  font-size: 16px;
}
ul{
  padding: 0;
  padding-left: 20px;
}
li{
  margin: 0;
  list-style: none;
  line-height: 2em;
}
a{
  color: #037bfa;
}
b{
  display: inline-block;
  width: 50px;
}
